<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Name</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/comp_gpas/?comp_id=<%= rs[i].comp_id %>"><%= rs[i].comp_name %></a></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No Companies are entered into the comp_gpa database table.
    <% } %>
</div>

<div style="margin-top:10px;">
    <a href="/comp_gpas/create">Create New Company</a>
</div>