<% include partials/header %>
    <p><%= subtitle %></p>
    <a href="http://www.cs.sonoma.edu/~haderman/">CS355 Lab 8</a>
    <br />
    <a href="http://localhost:3000/helloworld.html">Absolute Link Example</a>
    <br />
    <a href="helloworld.html">Relative Link Example</a>
    <br />
    <a href="/templatelink">Template Link Example</a>
    <br />
    <a href="/Account/?acc_id=1">Account By ID</a>
    <br />
    <a href="/Account/all">All Accounts</a>
    <br />
    <a href="/Resume_school/?sch_id=1">School By ID</a>
    <br />
    <a href="/Resume_school/all">All Schools</a>
    <br />
    <a href="/comp_gpas/all">Company GPAS</a>
    <br />
    <a href="/userjobsview/all">Company Jobs</a>
    <!--<br />
    <a href="/userjobview/?acc_id=1">Company Jobs By ID</a> -->
    <!--<br />-->
    <!--<a href="/comp_gpas/?comp_id=1">Company By ID</a> -->
    <br />
    <a href="/users/create">Create New User</a>
    <br />
    <a href="/users/company">Create New Company</a>
    <br />
    <a href="/users/school">Create New School</a>
<% include partials/footer %>
